<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button>Tere!</button>
    <form method="post"><input type="checkbox" id = "pood1" value="Coop" name="pood">
        <label for="pood1"> Coop</label><br>
        <input type="checkbox" id = "pood2" value="Rimi" name="pood">
        <label for="pood2"> Rimi</label><br>
        <input type="checkbox" id = "pood3" value="Selver" name="pood">
        <label for="pood3"> Selver</label><br>
        <input type="checkbox" id = "pood4" value="Prisma" name="pood">
        <label for="pood4"> Coop</label><br>
        <input type="submit" value="Submit">
    </form>
    
    
</body>
</html>
